.img-selector{margin:5px 10px;padding:3px 3px;justify-content:space-between;width:50px;height:60px;border-bottom:2px solid transparent}.img-selector:hover{transition:0.2s ease-in-out;border-bottom:2px solid #333;cursor:pointer}
