.img-selector{margin:5px 10px;padding:3px 3px;justify-content:space-between;width:50px;height:60px;border-bottom:2px solid transparent}.img-selector:hover{cursor:pointer;border-bottom:2px solid #333}
