@mixin hoverTrans{
  transition: 0.2s ease-in-out;
  border-bottom: 2px solid #333;
  cursor: pointer;
}

.img-selector{
  margin: 5px 10px;
  padding: 3px 3px;
  justify-content: space-between;
  width: 50px;
  height: 60px;
  border-bottom: 2px solid transparent;

  &:hover{
    @include hoverTrans();
  }
} 

.show_highlights_list{
  list-style: none;
}


@media screen  and(max-width: 1600px){
  .team_tile_imgs{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1280px){
  .team_tile-imgs{
    color: red;
  }
}

@media screen and (min-width: 1600px){
  .team_tile_imgs{
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 770px){
  .team_tile_imgs{
    img{
      width: 30px;
      height: 40px;
    }
  }
}
@media screen and (max-width: 567px){
   .team_tile_imgs{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
     img{
       display: flex;
       align-items: center;
       justify-content: center;
       width: 20px;
       height: 30px;
     }
   } 
}

.highlight_videos{
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 500px;
}

.highlighted_team{
  background-color: green;
}